/* GENERAL */
html, body {
    font-family: Raleway;
}
body {
    margin: 0;
}
.Logo-Booki{
    width:120px;
    height:50px;
}

/*HEADER NAV MEDIA MOBILE*/


/* ALLIGNEMENT NAV */

header {
    display : flex;
    margin: 0px 30px 10px 30px;
}
main {
    margin: 0 30px 0 30px;
}
nav {
    border-top: 1px solid transparent;
    margin-left: auto;
    height: 50px;
}

nav ul {
    display: flex;
    margin : 0;
    padding : 0;
    
}
nav li {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    
}

/* Titre */
h1 {
    font-size : 18px;
    font-weight: 800;
}
/* COULEUR DECO MENU NAV*/
nav a {
    color:black;
    text-decoration: none;
    font-weight: 600;
}


/* BORDURE BLEU NAV */
nav a:hover {
    border-top: 3px solid #0065FC;
    padding-top : 15px;
    padding-bottom : 24px;
}
/* MENU RECHERCHER */

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 400px;
    border-radius : 10px;
}
/*LOGO NAV */
.icon-gps {
background-color:#F2f2f2;
text-align: center;
height: 48px;
padding: 15px;
border-radius : 15px 0 0 15px;
margin : 0px;

}
/* BARRE RECHERCHE */
.text-search {
    height : 48px;
    outline-offset: -2px;
    font-size : 15px;
    color : black;
    font-weight : bold;
    border-right : none;
    border-left : none;
    padding : 10px;
    border-top : #F2f2f2 1px solid;
    border-bottom: #F2f2f2 1px solid;
    margin : -4px;
}

/*BOUTON RECHERCHER*/
.button-search {
    color : white;
    background-color: #0065FC;
    font-weight: bold;
    cursor : pointer;
    height: 48px;
    width : 120px;
    border-radius : 0 15px 15px 0;
    border : none;
    font-size : 95%;
    margin: -1px;
}

/*FILTRES MENU*/
.Filtres {
    display : flex;
    align-items : center;
    padding-top: 20px;
}
/*EMPLACEMENT FILTRES*/

.all-filtres {
    display : flex;
    align-items: center;
    margin-top : 10px;
    margin-bottom: 25px;
}
.all-filtres li {
    display: flex;
    margin-right: 30px;
    display : flex;
    color :black;
    font-weight: 700;
    width : auto;
    height: 40px;
    border-radius : 25px 25px 25px 25px;
    border : 2px solid #F2f2f2;
    font-size : 100%;
    align-items : center;
    border-left : none;
    margin-left : 0px;

}
.icon-search {
    display:none;
}

/* FILTRES MENU */
.filtre h3 {
    margin-right: 20px;
    font-weight: bold;
}
/*Icones Filtres */
.icon  {
display: flex !important;
align-items: center;
justify-content: center;
color:#0065FC;
background-color: #DEEBFF;
font-size:100%;
border-radius: 50%;
width: 45px;
height: 45px;
margin-right: auto;
}
/* CATEGORIE TEXTE FILTRES */
.texte-filter {
    display:flex;
    align-items: center;
    align-content: center;
    font-weight: 900;
    font-weight: bold;
    padding-left :10px;
    padding-right: 15px;
    cursor : pointer;
}

.all-filtres li:hover {
    background-color: #DEEBFF;
}

/* Info logements */
.info-logements {
    display:flex;
}
/*Logo information*/
.Logo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid #F2f2f2;
    border-radius: 50%;
    color:#0065FC;
}
/*ALIGNEMENT ET TEXTE LOGEMENTS DISPOS*/
.plus-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-info {
    font-size: 14px;
    margin-left : 10px;
}
/* SECTION HEBERGEMENT*/

/*BLOC HEBERGEMENTS*/

#Hébergements {
    display:flex;
}
.Hébergements {
    margin : 0 20px 0;
    background-color: #F2f2f2;
    border-radius: 25px;
    padding: 25px;
    margin-right: 35px;
}

/*CARTES HEBERGEMENTS*/

.Principaux {
display:flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
column-gap: 50px;
row-gap: 40px;
}
/* CHAQUE CARD*/

.card-principaux:hover {
    background-color: #F2f2f2;
    cursor: pointer;
}
.card-principaux {
    background: white;
    box-shadow: 0 0 6px 0 grey;
    width: 30%;
    border-radius: 20px;
    padding : 0.3%;
    color:black;
    text-decoration: none;
}
    .card-body {
        display:flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
}
/*BLOC REGLAGES IMAGES*/
.img-heber {
width: 100%;
height: 7vw;
object-fit:cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
/*ETOILE POSITIVE*/
.fa-star {
    color :#0065FC;
    font-size: 16px;

}
/*ETOILE NEGATIVE*/
.etoile-moins {
    color:#F2f2f2;
    font-size: 16px;
}
/*FIN BLOC HEBERGEMENT/ AFFICHER PLUS*/
.afficher-plus {
    cursor:pointer;
}

.fa-chart-line{
    display: flex;
    justify-content: flex-end;
}


/*BLOC POPULAIRE*/
.Populaires H2 {
    display:flex;
    justify-content: space-between;
    margin: 0px 10px 0px -2px;
}
.Populaires {
    display : flex;
    flex-direction: column;
    background-color: #F2f2f2;
    width: 25%;
    border-radius: 25px;
    padding: 32px 25px;
    column-gap: 50px;
    row-gap: 50px;
}
/*CARTES POP*/

.card-populaires {
display:flex;
column-gap: 20px;
row-gap: 50px;
background-color: white;
border-radius: 20px;
padding : 0.7%;
box-shadow: 0 0 6px 0 grey;
color:black;
text-decoration: none;
}
  /*IMG POPUPLAIRE*/  
.img-pop {
        width:5vw;
        height: 6vw;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
}
.Hébergements h2 {
    margin-top : 5px;
}

.card-populaires:hover {
    background-color: #F2f2f2;
    cursor: pointer;
}

/*ACTIVITES*/
#Activités H2 {
    padding-left: 50px;
}
#Activités {
    padding-bottom: 150px;
}
.Activités {
    display:flex;
    flex-direction: column;
    padding : 30px 30px;
    height: 591px;
    padding-bottom: 150px;
}
.body-card1:hover, .body-card2:hover, .body-card3:hover, .body-card4:hover, .body-card5:hover, .body-card6:hover {
    background-color: #F2f2f2;
}

.bloc-activites {
    height: 460px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.Acti-titre {
    color:black;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
}
.all-cards {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        column-gap: 40px;
}
/* 1ere ACTI */
.body-card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
    height: 121%;
    text-decoration: none;
}
    .img-acti {
        width: 19vw;
        height: 30vw;
        margin:0px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

}
/* 2eme ACTIVITES COLONNE */
.acti-colonne {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
}
.body-card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    row-gap: 5px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
    height: 65%;
    text-decoration: none;
}
.img-acti2 {
    height: 80%;
    width: 25vw;
    margin : 0px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
.body-card3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    row-gap: 5px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
    height: 45%;
    text-decoration: none;
}
.img-acti3 {
    height: 70%;
    margin : 0px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
/*3EME ACTIVITE */
.body-card4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
    height: 121%;
    text-decoration: none;
}
    .img-acti4 {
        width: 19vw;
        height: 30vw;
        margin:0px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
 /* 4EME ACTI COLONNE */
 .acti-colonne2 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
}
.body-card5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    row-gap: 5px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
    height: 45%;
    text-decoration: none;
}
.img-acti5 {
    height: 70%;
    margin : 0px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.body-card6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    row-gap: 5px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0 0 20px #0000002e;
    height: 65%;
    text-decoration: none;
}

.img-acti6 {
    height: 80%;
    margin : 0px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
/*FOOTER*/
footer{
    display: flex;
    padding-left: 50px;
    background-color: #F2f2f2;
    padding-bottom: 30px;
    padding-top: 18px;
}

.Apropos, .Noshebergements, .Assistance {
    width: 50%;
}

footer li {
    list-style-type: none;
}
footer ul {
    padding-left: 0px;
}
 footer a {
     color: black;
     text-decoration: none;
 }

.container {
    padding : 0 50px 0px 0;
}



.section-filtre  {
    margin : 0px 50px 30px 50px;
}



/* MOBILE HEADER/MENU */

@media screen and (max-width: 768px) {

    header {
        display: block;
        margin: 0 0;
        text-align: center;
    }
    .Logo-Booki {
        margin: auto;
        text-align: center;
    }
    nav  {
   text-align: center;
   margin: 0 0;
   display:flex;
   justify-content: space-around;
    }
    nav ul {
        border-bottom: 2px #F2f2f2 solid;
        width: 100%;
    }
    nav li {
        width: 50%;
    }
    nav li:hover {
        width:50%;
        margin-top: 1px;
        border-bottom: 2px solid #0065FC;
    }
    nav a:hover{
        border-top: none;
        padding-top : 11px;
        padding-bottom : 11px;
    }
    
}
/* MOBILE MENU NAV ET RECHERCHE FILTRES */

@media screen and (max-width: 768px) {

    h1 {
        font-size: 22px;
    }
    .section-filtre p {
       font-size: 14px; 
    }
    .section-filtre {
        margin: 20px;
    }
    .button-search {
        display: none;
    }
    .icon-search {
        background-color: #0065FC;
        color: white;
        border-radius: 15px;
        display: unset;
        width: 50px;
        height: 50px;
        border: none;
        position: relative;
        left: -15px;
    }
    .Filtres {
        flex-wrap: wrap;
    }
    .all-filtres {
        flex-wrap:wrap;
        display:flex;
        row-gap: 15px;
        margin-left:-40px;
    }
}



/* MOBILE MENU HEBERGEMENTS ET POPULAIRES*/

@media screen and (max-width: 768px) {

    main{
        display:flex;
        flex-direction: column;
        margin : 0 0;
        height: auto;
    }
    #Hébergements{
        flex-direction: column-reverse;
        height: auto;
    }
    .Populaires {
        width: 90%;
        border-radius: 0 0;
        margin-bottom: 50px;
    }
    .card-populaires {
        width: 95%;
    }
    .img-pop {
        width: 30vw;
        height: 25vw;
    }
    .Principaux{
        display: flex;
        flex-direction: column;
    }

    .Hébergements {
    background-color: white;
    margin:0px;
    }
    .card-principaux {
        width: 100%;
        height: 100%;
    }
    .img-heber {
        height: 25vw;
    }
}


/*MOBILE MENU ACTIVITES*/

@media screen and (max-width: 768px) {

#Activités h2 {
    margin-left : -20px;
}
.bloc-activites {
flex-direction: column;
column-gap: 15Px;
row-gap: 40px;
height: 1200Px;
    }
.all-cards {
    flex-direction: column;
    column-gap: 15px;
    row-gap: 40px;
}
.body-card1, .body-card4 {
    row-gap: 5px;
}
.img-acti, .img-acti2, .img-acti3, .img-acti4, .img-acti5, .img-acti6 {
    height: 30vw;
    width: auto;
}
.body-card1, .body-card2, .body-card3 {
   width: 95%;
   flex-direction: column;
   column-gap: 20px;
}
.acti-colonne {
    row-gap: 40px;
}
.acti-colonne2 {
    flex-direction: column;
    column-gap: 15px;
    row-gap: 40px;
}
.body-card4, .body-card5, .body-card6 {
    width:92%;
    margin-left: 20px;
    height: auto;
}
#Activités {
    height: auto;
    padding-bottom:20px;
}
}

    
/*FOOTER*/
@media screen and (max-width: 768px) {

    footer {
        display: flex;
        flex-direction: column;
        padding-top:10px;
        background-position:bottom;
        margin-left:-20px;
    }



}


/* TABLETTE MODE*/

/*TABLETTES MENU NAV FILTRES */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .section-filtre {
        margin-left: 10px;
    }
}

/*TABLETTE HEBERGEMENT ET POPULAIRE */

@media screen and (min-width: 769px) and (max-width: 992px) {

    main {
        display:flex;
        flex-direction: column;
        margin: 0 0;
        height: auto;
    }
    .Populaires H2 {
        margin-left:15px;
    }
    #Hébergements{
        flex-direction: column-reverse;
        height: auto;
    }
    .Hébergements {
        margin: 0 20px 0 20px;
    }
    .Populaires {
        width: 95%;
        border-radius: 0 0;
        margin-bottom: 50px;
    }
    .card-populaires {
        width: 98%;
    }
    .img-pop {
        width: 30vw;
        height: 15vw;
    }
    .img-heber {
        height: 15vw;
    }
}

/*TABLETTE MENU ACTIVITES */
@media screen and (min-width: 769px) and (max-width: 992px) {

    #Activités {
        margin-left:-5px;
    }
    .all-cards {
        column-gap: 20px;
    }
    .body-card4 {
    width: 18vw;
    }
    .img-acti, .img-acti4 {
        height: 60vw;
        width: 18vw;
    }
    
}